.header {
    position: fixed;
    width: 100%;
    
    &-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;

        .logo {
            a {
                font-size: 20px;
                color: white;
                font-weight: 600;
                cursor: pointer;
                text-decoration: none;
            }
        }

        .menu {
            svg {
                height: 25px;
                width: 25px;
                fill: white;
                cursor: pointer;
            }
        }
    }
}


@media only screen and (width: 600px) {

}